body{
    background-color: #141414;
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
}


.nav-bar{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 33, 36);
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 70px;


}

.nav-bar a{
    margin-left: 60px;
    margin-right: 60px;
    font-size: 23px;
    padding: 10px;
    color: white; 
    text-decoration: none; /*remove underline*/
    border-radius: 5px;
}

active,.nav-bar a:hover{
    background-color:purple;
}

.title-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 0;
    margin-top: -20px;
    
}

#historia{
    font-size: 60px;
    color: white;
    margin-bottom: 10px;
}

#historia span{
    /*
    background-color: rgb(109, 15, 176);
    */
    background-color: rgb(97, 214, 253);
    color: black;
    border-radius: 10px;
}

#underabout{
    margin-top: 0;
    font-size: 16px;
}

/*align 2 images per row */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.image-container a {
    width: 49%; /* allows fixing margins*/
    padding: 13px; /*change the image margin gaps */
    box-sizing: border-box;
    text-align: center;
    
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 700px;
    height: 500px;
    border-radius: 10px;
    transition: transform 0.3s;
    
}

.image-container a:hover img {
    transform: scale(1.025); 
}