body{
    background-color: #141414;
    margin: 0;
    padding: 0;


}


.nav-bar{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 33, 36);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 70px;


}

.nav-bar a{
    margin-left: 60px;
    margin-right: 60px;
    font-size: 23px;
    padding: 10px;
    color: white; 
    text-decoration: none; /*remove underline*/
    border-radius: 5px;
}

active,a:hover{
    background-color:purple;
}

.title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}